body{
    height: 100vh;
    width: 100%;
}

.grid1{
    display: grid;
    grid-template-columns: repeat(3,200px);
    grid-auto-rows: minmax(200px, auto);
    gap: 20px;
    justify-content: center;
}

.grid-item{
    background-color: blue;
}

.grid1 .grid-item:nth-child(1){
    grid-row: 1 / 3;
}

.grid-item:nth-child(7){
    grid-column: 2 / 4;
}