header {
    background-color: #CBC1B1;
    width: 100%;
    height: auto;
    display: flex;
}

header > div {
    width: 50%;
    display: flex;
}

header :first-child {
    margin-left: 10%;
}

header :last-child{
    margin-right: 10%;
}

header div > div {
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;   
    margin-top: 45px;
    margin-bottom: 45px;
    font-size: 1.2rem;
}

header div > div:nth-child(1){
    width: 25%;
    opacity: 70%;
} 
header div > div:nth-child(2){
    width: 50%;
    opacity: 70%;
} 

header div > div:nth-child(3){
    width: 25%;
    background-color: #7C7474;
    opacity: 70%;
} 

header div > div:hover{
    background-color: #7C7474;
}

body {
    margin: 0;
    height: 100vh;
}

.body {
    width: 100%;
    height: 75vh;    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.body > div{
    display: flex;
    align-items: center;
    justify-content: center;
}

.body > :nth-child(1){
    height: 20%;
    height: 20%;
    font-size: 2.5rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.body > :nth-child(2){
    height: 60%;
}

.body  > :nth-child(3){
    align-items:start;
    height: 20%;
    width: 100%;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#7C7474;
    color: white;
    height: 50px;
    width: 150px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-shadow: 4px 4px 5px rgba(58, 58, 58, 0.6);
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 350px);
    grid-template-rows: repeat(6, 60px);
    grid-column-gap: 10px;
    grid-row-gap: 10px; 
}

.grid div{
    background-color: rgba(124,116,116, 0.5  );
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-left: 10px;
}

.item1 {
    display: flex;
    align-items: center;
}

.item2 {
    display: flex;
    align-items: center;
}

.item3 {
    display: flex;
    align-items: center;
}

.item4 {
    display: flex;
    align-items: center;
}

.item5 {
    grid-column: 1/span 2;
    grid-row: 3/span 4;
    padding-left: 10px;
    padding-top: 10px;
}


footer {
    bottom: 0;
    height: 10%;
    width: 100%;
    background-color: #CBC1B1;
    display: flex;
    flex-direction: column;
}

footer :first-child {
    display: flex;
    justify-content: center;
    align-items: end;
    height: 100%;
    width: 100%;
    font-size: 0.8rem;
}

footer :last-child {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-size: 0.8rem;
}