body
    height: 100vh
    display: flex
    align-items: center
    justify-content: center

.grid
    display: grid
    grid-template-columns: repeat(3, 234px)
    grid-template-rows: repeat(3, 234px)

div[class^="item"]
    background-size: contain !important
    opacity: .5
    transition: transform  .4s ease-out
    &:hover
        opacity: 1
        z-index: 2
        transform: scale(1.1)

@for $i from 1 through 9
    .item#{$i}
        background: url("./" + $i + ".png")